.header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  background: blanchedalmond;
  color: #333333;
  border-bottom: 10px;
  border-bottom-color: blueviolet
}

.yourname {


}